<p>
    <a routerLink="/tour-operators/operators/new" mat-raised-button>New Operator</a>
</p>

<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
</mat-form-field>

<div class="mat-elevation-z8">
<table mat-table [dataSource]="operators" matSort>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> OperatorName </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>

  <ng-container matColumnDef="imageUrl">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> ImageUrl </th>
    <td mat-cell *matCellDef="let element"> {{element.imageUrl}} </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Action</th>
    <td mat-cell *matCellDef="let element"><button [routerLink]="['/tour-operators/operators/', element.key]" mat-raised-button color="primary">Edit</button></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator  [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>



